body {
  margin: 0;
  height: auto;
  background: no-repeat url(img/body.svg);
  min-width: 375px;
  max-width: 1920px;
}

.wrapper {
  width: 83%;
  margin-left: 200px;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 88px;
  margin-bottom: 134px;
}

.logo {
  width: 147px;
  height: 55px;
}

.header__burger {
  display: none;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.menu__item {
  margin-right: 39px;
  transition: opacity 0.5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font: 21px/26px 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  color: #f8eee4;
  text-decoration: none;
}

.menu__link:hover {
  opacity: 0.5;
  text-decoration: underline;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main__text {
  width: 555px;
}

.main__title1 {
  margin: 0 20px 0 0;
  font: bold 280px/371px "pt_serifbold", serif;
  align-items: center;
  color: #f8eee4;
  opacity: 0.4;
}

.main__title2 {
  margin: -142px 0 17px 83px;
  font: bold 98px/130px "pt_serifbold", serif;
  color: #f8eee4;
}

.main__subtitle {
  margin: 0 -10px 35px 21px;
  font: 22px/26px 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  color: #f8eee4;
}

.main__button {
  display: inline-block;
  font: 22px/26px 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  color: #3e5151;
  background: linear-gradient(to left, #d4bea3, #fff, #d4bea3);
  padding: 17px 86px;
  text-decoration: none;
  border-radius: 48px;
  background-size: 200%;
  transition: opacity 0.25s;
  margin-left: 25px;
  cursor: pointer;
  outline: none;
}

.main__button:hover {
  opacity: 0.25s;
  background-position: right;
  transform: translateY(-5px);
  box-shadow: 0 7px 0 #3e5151;
}

.main__button:active {
  transform: translateY(-2px);
  box-shadow: 0 3px 0 #3e5151;
}

.main__image {
  display: flex;
  border-radius: 5px;
  padding: 92px 0 0 297px;
}

.main__image_1 {
  margin-right: 30px;
}

.main__image_2 {
  margin-right: 31px;
}

@media (max-width: 1920px) {
  body {
    height: 56vw;
  }

  .wrapper {
    width: 83.6vw;
    margin: 0 10.4vw;
  }

  .header {
    padding-top: 4.64vw;
    margin-bottom: 6.8vw;
  }

  .logo {
    width: 7.8vw;
    height: 3.1vw;
  }

  .menu {
    margin: 0 0.1vw 0.4vw 0;
  }

  .menu__item {
    margin-right: 2vw;
  }

  .menu__link {
    font: 21.9px/26px 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  }

  .main__text {
    width: 30vw;
  }

  .main__title1 {
    margin: 0 0.4vw 0 0;
    font: bold 14.6vw/19.3vw "pt_serifbold", serif;
  }

  .main__title2 {
    margin: -7.4vw 0 0 4.3vw;
    font: bold 5.1vw/6.8vw "pt_serifbold", serif;
  }

  .main__subtitle {
    margin: -0.1vw -0.6vw 1.8vw 1.1vw;
    font: 1.15vw/1.4vw 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  }

  .main__button {
    font: 1.2vw/1.41vw 'museo_sans_cyrl500', arial, helvetica, sans-serif;
    padding: 0.88vw 4.5vw;
    border-radius: 4vw;
    margin-left: 1.2vw;
  }

  .main__image {
    border-radius: 1vw;
    padding: 4.7vw 0 0 15.5vw;
  }

  .main__image_1 {
    margin-right: 1.53vw;
  }

  .main__image_2 {
    margin-right: 1.8vw;
  }
}

@media (max-width: 1366px) {
  .wrapper {
    width: 84vw;
    margin: 0 10.4vw;
  }

  .header {
    padding-top: 4.5vw;
  }

  .logo__imge {
    width: 7.6vw;
    margin-top: 0.1vw;
  }

  .menu {
    margin: 0 0.4vw 0 0;
  }

  .menu__item {
    margin-right: 1.98vw;
  }

  .menu__link {
    font: 1.15vw/2vw 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  }

  .main__title2 {
    margin: -7.4vw 0 -0.3vw 4.3vw;
    font: bold 5.12vw/6.9vw "pt_serifbold", serif;
  }

  .main__subtitle {
    margin: 1.3vw -1vw 1.78vw 1.1vw;
    font: 1.17vw/1.4vw 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  }

  .main__image{
    padding: 4.7vw 0 0 15.48vw;
  }

  .main__image_1 {
    width: 16.5vw;
    height: 24.3vw;
  }

  .main__image_2 {
    width: 15vw;
    height: 24vw;
  }

  .main__image_3 {
    width: 11vw;
    height: 24.2vw;
  }
}

@media (max-width: 1024px) {
  body {
    height: 75vw;
  }

  .wrapper {
    width: 92.5vw;
    margin: 0 4vw;
  }

  .header {
    padding-top: 6.11vw;
    margin-bottom: 13vw;
  }

  .logo {
    width: 10.2vw;
    height: 4vw;
  }

  .logo__imge {
    width: 10.2vw;
    margin-top: -0.0vw;
  }

  .menu {
    margin: 0.4vw 0.17vw 0 0;
  }

  .menu__item {
    margin-right: 2.4vw;
  }

  .menu__link {
    font: 1.6vw/0.8vw 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  }

  .main__text {
    width: 40vw;
  }

  .main__title1 {
    font: bold 19.5vw/18.9vw "pt_serifbold", serif;
  }

  .main__title2 {
    margin: -2.98vw 0 4.9vw 5.86vw;
    font: bold 6.8vw/1.86vw "pt_serifbold", serif;
  }

  .main__subtitle {
    margin: 0 -2.6vw 2.4vw 1.5vw;
    font: 1.56vw/1.95vw 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  }

  .main__button {
    font: 1.6vw/1.3vw 'museo_sans_cyrl500', arial, helvetica, sans-serif;
    padding: 1.5vw 6vw;
    margin-left: 1.6vw;
  }

  .main__image {
    padding: 3.8vw 0 0 7.69vw;
    margin-right: -3.4vw;
    max-width: 100vw;
    overflow: hidden;
  }

  .main__image_1 {
    width: 22.2vw;
    height: 30vw;
    margin-right: 2.1vw;
  }

  .main__image_2 {
    width: 20.3vw;
    height: 26.3vw;
    padding-top: 2vw;
  }

  .main__image_3 {
    width: 20.3vw;
    height: 26.3vw;
    padding-top: 2vw;
    margin-left: -2.8vw;
  }
}

@media (max-width: 768px) {
  body {
    height: 134vw;
  }

  .wrapper {
    width: 80vw;
    margin: 0 auto 0 14vw;
  }

  .header {
    padding-top: 8vw;
    margin-bottom: 5vw;
  }

  .logo {
    width: 25vw;
    height: 10vw;
  }

  .logo__imge {
    width: 25vw;
  }

  .menu {
    display: none;
  }

  .header__burger {
    display: block;
    position: absolute;
    top: 8vw;
    left: 82vw;
    width: 6.6vw;
    height: 4vw;
  }

  .header__burger span,
  .header__burger::before,
  .header__burger::after {
    position: absolute;
    background-color: #fcf5ed;
    left: 0;
    width: 100%;
    height: 0.8vw;
    top: 3vw;
  }

  .header__burger::before {
    content: '';
    top: 4.8vw;
  }

  .header__burger::after {
    content: '';
    top: 6.7vw;
  }

  .main {
    text-align: center;
    background-size: 80%;
    background-position: top center;
  }

  .main__text {
    width: 90vw;
  }

  .main__title1 {
    margin: 0 0 5vw -10vw;
    font: bold 44vw/50vw "pt_serifbold", serif;
  }

  .main__title2 {
    margin: -16vw 0 12vw 8vw;
    font: bold 15vw/8vw "pt_serifbold", serif;
  }

  .main__subtitle {
    margin: 0 8vw 8vw 4vw;
    font: 4.2vw/6vw 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  }

  .main__button {
    padding: 2vw 12.5vw;
    margin-left: -1vw;
    font: 4vw/6vw 'museo_sans_cyrl500', arial, helvetica, sans-serif;
    border-radius: 8vw;
  }

  .main__image {
    display: none;
  }
}

@media (max-width: 375px) {
  body {
    height: 178vw;
  }

  .wrapper {
    width: 80vw;
    margin: 0 11vw;
  }

  .header {
    padding-top: 10.9vw;
    margin-bottom: 20.8vw;
  }

  .logo {
    width: 28vw;
    height: 11vw;
  }

  .logo__imge {
    width: 27.7vw;
    height: 10.8vw;
  }

  .header__burger {
    top: 12.3vw;
    left: 84.5vw;
  }

  .main__title1 {
    margin: 0 0 5vw -14.1vw;
    font: bold 45vw/49vw "pt_serifbold", serif;
  }

  .main__title2 {
    margin: -12.92vw 0 16.29vw 9vw;
  }

  .main__subtitle {
    margin: 0 7vw 10vw 0.3vw;
    font: 4.78vw/5.7vw 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  }

  .main__button {
    padding: 3vw 16.9vw;
    margin: -0.2vw 10.1vw 0 0;
    font: 4.3vw/6vw 'museo_sans_cyrl500', arial, helvetica, sans-serif;
  }
}
